In [1]:
from selenium import webdriver
import pandas as pd
import csv
import time

In [2]:
driverpath='/home/absolom/Downloads/webdriver/chromedriver'
webpage='https://www.winabet365.com/pre-match/european-sports#/Soccer/select-leagues'

In [3]:
driver=webdriver.Chrome(driverpath)
driver.get(webpage)

In [4]:
#Select NBA
nba=driver.find_element_by_xpath('//*[@id="ember1587"]/div[3]')
time.sleep(1)
nba.click()

In [5]:
matches=driver.find_elements_by_class_name('mainbody')
print(matches)

[<selenium.webdriver.remote.webelement.WebElement (session="43427e89e2deddfe96d8d5f37d6778d8", element="e2febae8-feea-4527-94d4-415f2f39be2e")>]

In [6]:
details=[]
for i in matches:
    #print(i.text)
    #details.append(i.text)
    odds=i.find_elements_by_tag_name('tbody')
    teams=i.find_elements_by_class_name('team-names-block')
    team=[]
    odd=[]
    for n in teams:
        #print(n.text)
        team.append(n.text)
    for m in odds:
        #print(m.text)
        odd.append(m.text)

In [32]:
matchDetails=[]
for l in range(len(team)):
    #print(team[l].split('\n'))
    matchDetails.append(team[l].split('\n')[1].split('-'))

In [26]:
md=team[0].split('\n')[0],team[0].split('\n')[1].split('-')
md

('22:45:00', ['West Ham United ', ' Norwich City'])

In [8]:
tOdds=[]
for k in range(len(odd)):
    #print(odd[k].split('\n'))
    for a in range(len(odd[k].split('\n'))):
        print(odd[k].split('\n')[a].split(' ')) 
        tOdds.append(odd[k].split('\n')[a].split(' '))

['1.32', '5.20', '9.50', '1.07', '1.16', '3.34', '1.67', '2.20', '1.97', '1.77']
['2.07', '3.08', '3.80', '1.25', '1.35', '1.71', '2.20', '1.67', '1.87', '1.87']
['1.65', '3.94', '4.75', '1.17', '1.24', '2.18', '1.76', '2.06', '1.75', '2.00']
['3.66', '3.47', '1.96', '1.79', '1.29', '1.27', '1.97', '1.83', '1.80', '1.94']
['2.77', '3.32', '2.46', '1.52', '1.31', '1.42', '1.89', '1.91', '1.67', '2.12']
['2.22', '3.05', '3.45', '1.29', '1.35', '1.62', '2.36', '1.59', '1.96', '1.78']
['2.00', '3.45', '3.57', '1.27', '1.31', '1.73', '1.77', '2.05', '1.64', '2.17']
['3.05', '3.45', '2.22', '1.62', '1.29', '1.36', '1.86', '1.94', '1.68', '2.10']
['1.28', '5.30', '10.00', '1.06', '1.15', '3.55', '1.65', '2.24', '2.05', '1.72']
['1.59', '4.10', '5.10', '1.16', '1.23', '2.29', '1.59', '2.36', '1.62', '2.21']
['2.52', '3.20', '2.76', '1.41', '1.33', '1.49', '1.92', '1.88', '1.68', '2.10']
['2.15', '3.23', '3.40', '1.30', '1.32', '1.64', '2.00', '1.81', '1.76', '1.99']
['5.30', '3.55', '1.67', '2.07', '1.28', '1.16', '2.00', '1.81', '1.91', '1.83']
['3.12', '3.18', '2.30', '1.56', '1.33', '1.34', '1.70', '2.15', '1.53', '2.40']
['4.80', '3.50', '1.73', '1.99', '1.29', '1.18', '1.86', '1.94', '1.76', '1.99']
['2.03', '3.51', '3.41', '1.30', '1.28', '1.71', '1.95', '1.85', '1.78', '1.96']
['2.45', '3.13', '2.92', '1.38', '1.34', '1.50', '1.94', '1.86', '1.68', '2.10']
['1.88', '3.81', '3.64', '1.27', '1.25', '1.83', '1.75', '2.08', '1.67', '2.12']
['1.87', '3.72', '3.77', '1.25', '1.26', '1.84', '1.61', '2.32', '1.55', '2.35']
['2.92', '2.91', '2.61', '1.48', '1.38', '1.38', '2.62', '1.49', '2.10', '1.68']
['8.20', '5.50', '1.30', '3.20', '1.14', '1.08', '1.46', '2.72', '1.79', '1.95']
['1.38', '4.50', '8.10', '1.08', '1.19', '2.81', '1.77', '2.05', '2.00', '1.75']
['2.41', '3.28', '2.86', '1.39', '1.31', '1.52', '1.91', '1.89', '1.70', '2.07']
['5.70', '3.74', '1.59', '2.20', '1.26', '1.14', '1.68', '2.18', '1.67', '2.12']
['1.69', '3.91', '4.50', '1.20', '1.24', '2.04', '1.93', '1.87', '1.90', '1.84']

In [37]:
df=pd.DataFrame(tOdds,columns=['1','X','2','1X','12','2X','O2.5','U2.5','GG','NG'])
df1=pd.DataFrame(matchDetails,columns=['HomeTeam','AwayTeam'])

In [38]:
df2=pd.concat([df1,df],join='outer',axis=1)

In [39]:
df2

,HomeTeam,AwayTeam,1,X,2,1X,12,2X,O2.5,U2.5,GG,NG
0,West Ham United,Norwich City,1.32,5.20,9.50,1.07,1.16,3.34,1.67,2.20,1.97,1.77
1,Brighton and Hove Albion,Crystal Palace,2.07,3.08,3.80,1.25,1.35,1.71,2.20,1.67,1.87,1.87
2,Manchester City,Chelsea,1.65,3.94,4.75,1.17,1.24,2.18,1.76,2.06,1.75,2.00
3,Norwich City,Everton,3.66,3.47,1.96,1.79,1.29,1.27,1.97,1.83,1.80,1.94
4,Burnley,Leicester City,2.77,3.32,2.46,1.52,1.31,1.42,1.89,1.91,1.67,2.12
5,Wolverhampton Wanderers,Southampton,2.22,3.05,3.45,1.29,1.35,1.62,2.36,1.59,1.96,1.78
6,Newcastle United,Watford,2.00,3.45,3.57,1.27,1.31,1.73,1.77,2.05,1.64,2.17
7,Aston Villa,Manchester United,3.05,3.45,2.22,1.62,1.29,1.36,1.86,1.94,1.68,2.10
8,Liverpool,Brentford,1.28,5.30,10.00,1.06,1.15,3.55,1.65,2.24,2.05,1.72
9,West Ham United,Leeds United,1.59,4.10,5.10,1.16,1.23,2.29,1.59,2.36,1.62,2.21
10,Tottenham Hotspur,Arsenal,2.52,3.20,2.76,1.41,1.33,1.49,1.92,1.88,1.68,2.10
11,Burnley,Watford,2.15,3.23,3.40,1.30,1.32,1.64,2.00,1.81,1.76,1.99
12,Brighton and Hove Albion,Chelsea,5.30,3.55,1.67,2.07,1.28,1.16,2.00,1.81,1.91,1.83
13,Leicester City,Tottenham Hotspur,3.12,3.18,2.30,1.56,1.33,1.34,1.70,2.15,1.53,2.40
14,Brentford,Manchester United,4.80,3.50,1.73,1.99,1.29,1.18,1.86,1.94,1.76,1.99
15,Watford,Norwich City,2.03,3.51,3.41,1.30,1.28,1.71,1.95,1.85,1.78,1.96
16,Everton,Aston Villa,2.45,3.13,2.92,1.38,1.34,1.50,1.94,1.86,1.68,2.10
17,Manchester United,West Ham United,1.88,3.81,3.64,1.27,1.25,1.83,1.75,2.08,1.67,2.12
18,Leeds United,Newcastle United,1.87,3.72,3.77,1.25,1.26,1.84,1.61,2.32,1.55,2.35
19,Brentford,Wolverhampton Wanderers,2.92,2.91,2.61,1.48,1.38,1.38,2.62,1.49,2.10,1.68
20,Southampton,Manchester City,8.20,5.50,1.30,3.20,1.14,1.08,1.46,2.72,1.79,1.95
21,Arsenal,Burnley,1.38,4.50,8.10,1.08,1.19,2.81,1.77,2.05,2.00,1.75
22,Leicester City,Brighton and Hove Albion,2.41,3.28,2.86,1.39,1.31,1.52,1.91,1.89,1.70,2.07
23,Crystal Palace,Liverpool,5.70,3.74,1.59,2.20,1.26,1.14,1.68,2.18,1.67,2.12
24,Chelsea,Tottenham Hotspur,1.69,3.91,4.50,1.20,1.24,2.04,1.93,1.87,1.90,1.84

In [40]:
df2.to_csv('plWIN.csv',header='false',index='false')